<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C2965FB1D0B0A72000EA144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2966171D0B0A72000EA144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2966221D0B0A72000EA144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
